doctype
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="title", content="Виртуальные АТС от Евро-тел | Облачные АТС Украина")
        meta(name="yandex-verification" content="7b676d50bcfb3342")
        meta(name="description" content="Виртуальные АТС от Евро-тел: доступный для всех вход в IP-телефонию. Звонки на мобильные по 10 коп. Облачная АТС с рабочими местами на смартфонах.")
        meta(name="keywords" content="ip телефония, виртуальная АТС, sip телефония, мини АТС, запись телефонных разговоров, ip телефония киев, ip телефония украина,voip телефония, voip атс, ip телефония для офиса, мини атс купить, облачная атс, купить АТС, sip телефония киев")
        title   Виртуальная АТС Евро-тел | Облачная АТС Евро-тел
        link(rel="stylesheet" href="css/themes/classic.css")
        link(rel="stylesheet" href="css/main.css")
        link(rel="icon" href="img/favicon.ico" type="image/x-icon")
    body(id='section1')
        .loader
            .loader_inner
        .wrapper
            .header
                div(class='header__container')
                    .header__logo
                        h1  ЕВРО-ТЕЛ
                    div(class='header_descr')
                        h2(class='animated rollIn') Виртуальные АТС
                    .provider__txt
                        p   Провайдер телекоммуникаций
                        p   Украины
                    div(class='nav__container' id='nav__container')
                        nav.main__menu
                            ul
                                li
                                    a(class='nav__link current hvr-grow-shadow' href="#section1") Евро-тел
                                li
                                    a(class='nav__link hvr-grow-shadow' href="#section2") Как это работает
                                li
                                    a(class='nav__link hvr-grow-shadow' href="#section3") Функции
                                li
                                    a(class='nav__link hvr-grow-shadow' href="#section4") GSM
                                li
                                    a(class='nav__link hvr-grow-shadow' href="#section5") Цены
                                li
                                    a(class='nav__link hvr-grow-shadow' href="#section6") Контакты
                        nav.nav__mobile
                            .nav__container-mob
                                .nav__lines
                                    p   _
                                    p   _
                                    p   _
                            ul.nav__dropdown
                                li
                                    a(class='nav__link current' href="#section1") Евро-тел
                                li
                                    a.nav__link(href="#section2") Как это работает
                                li
                                    a.nav__link(href="#section3") Функции
                                li
                                    a.nav__link(href="#section4") GSM
                                li
                                    a.nav__link(href="#section5") Цены
                                li
                                    a.nav__link(href="#section6") Контакты
                    div(class='header__contacts')
                        address
                            a(href="tel:+380443211022") +38 (044) 32-11-022
                            a(href="tel:+380504544043")  +38 (050) 454-40-43
                            a(href="mailto:evrotel.ipats@gmail.com")    evrotel.ipats@gmail.com
                    .header__slider
                        ul.bxslider
                            li
                                div(class="slide slide__gsm")   Дорого покупать GSM-шлюз?
                            li
                                div(class='slide slide__card')    Надоело возиться с  SIM-карточками?
                            li
                                div(class='slide slide__desicions') Наши решения проще и дешевле!
                            li
                                div(class='slide slide__softphone') Установка программного телефона на смартфон - за несколько нажатий!
                            li
                                div(class='slide slide__softphone') Звонки на мобильные по
                                    strong  16 коп\мин
                            li
                                div(class='slide slide__multinumbers') Многоканальные мобильные номера
                    div(class='header__slogan')
                        p   Лёгкий вход в "серъёзную" телефонию
            article(class="parallax-window" data-parallax="scroll" data-image-src="img/how_bg.jpg" id='section2')
                .how__container
                    h2.article__header  Как это работает
                    .how__descr
                        p.main__content Виртуальная АТС работает так же, как и офисная, но не привязана к месту расположения или оборудованию. Пользователю  АТС
                            strong  необходим только смартфон (или компьютер) + Интернет
                            span    , при этом все пользователи могут находиться территориально в одном офисе или разбросаны по разным городам. Связь осуществляется при помощи программы на смартфоне или компьютере (поставляется с уже предустановленными настройками, ничего настраивать не придётся!)
                        p.main__content Сама АТС находится удалённо на нашем сервере и функционально настраивается под Ваши потребности.
                        p.main__content
                            strong  Для связи между сотрудниками
                            span    АТС используются внутренние номера (111, 112, 113...)
                        p.main__content
                            strong  Для входящих\исходящих звонков на номера мобильных
                            span    GSM операторов Украины по Вашей заявке к АТС подключаются наши
                            a(href='#section4')  каналы с номерами.
                        p.main__content
                            strong  Для входящих\исходящих звонков на номера фиксированной связи
                            span    Украины по отдельному заказу к АТС подключаются SIP-каналы украинских операторов фиксированной связи (Интертелеком, Датагрупп, Вегателеком).
            article(class='functions' id='section3')
                h2.article__header  Функции АТС
                .func__background
                .func__container2
                    ul(class="table_tabs-mob1" )
                        li(role="presentation" class="func__item func__item-active")
                            a(href="#voice" aria-controls="voice" role="tab" data-toggle="tab" class='func__linc' )   Голосовое меню
                        li(role="presentation" class="func__item")
                            a(href="#stat" aria-controls="stat" role="tab" data-toggle="tab" class='func__linc')   Статистика и запись
                        li(role="presentation" class="func__item")
                            a(href="#callback" aria-controls="callback" role="tab" data-toggle="tab" class='func__linc')   Сall-back
                        li(role="presentation" class="func__item")
                            a(href="#incom" aria-controls="incom" role="tab" data-toggle="tab" class='func__linc')   Переадресация входящих
                        li(role="presentation" class="func__item")
                            a(href="#queue" aria-controls="queue" role="tab" data-toggle="tab" class='func__linc')   Организация очередей
                        li(role="presentation" class="func__item")
                            a(href="#return" aria-controls="return" role="tab" data-toggle="tab" class='func__linc')   Обратный звонок
                        li(role="presentation" class="func__item")
                            a(href="#fax" aria-controls="fax" role="tab" data-toggle="tab" class='func__linc')   Факс &#8594; E-mail
                        li(role="presentation" class="func__item")
                            a(href="#crm" aria-controls="crm" role="tab" data-toggle="tab" class='func__linc' class='func__linc')   Интеграция с CRM

                    div(class="tab-content tab-content1")
                        div(role="tabpanel" class="tab-pane func__descr fade in active" id="voice")
                            h3.func__descr-title    Голосовое меню
                            p   При звонке в колл-центр Ваш клиент будет перенаправлен на голосовое меню, в котором он услышит дополнительную информацию. Гармонично подобранное музыкальное сопровождение, голос диктора и продуманный текст создаст благоприятное впечатление от звонка в организацию. Маршрутизация, выполняемая с помощью IVR-системы, обеспечивает правильную загрузку операторов продуктов и услуг компании.
                        div(role="tabpanel" class="tab-pane fade func__descr" id="stat")
                            h3.func__descr-title    Статистика и запись
                            p   Статистика всех входящих и исходящих звонков (журнал звонков) с возможностью прослушать запись разговоров или просмотреть непринятые звонки. Эффективность телефонных звонков - главное, вокруг чего строится наш сервис. Удобная история и статистика позволяют контроливать ваши телефонные продажи, пропущенные звонки и отслеживать разговоры с новыми клиентами.
                        div(role="tabpanel" class="tab-pane fade func__descr" id="callback")
                            h3.func__descr-title    Сall-back
                            p   В случае невозможности ответить на входящий звонок, звонящему будет предложено нажать цифру 1 и положить трубку. После этого к вам на электронную почту прийдет письмо с номером звонившего абонента. Правда, удобно?
                        div(role="tabpanel" class="tab-pane fade func__descr" id="incom")
                            h3.func__descr-title    Переадресация входящих
                            p   Если номер, на который Вам позвонили, занят, не отвечает или отключен, то вызов можно переадресовать на другой стационарный или мобильный телефон. Эта функция часто используется как резервный канал при неполадках в связи. Для использовани ятребуется подключение внешнего SIP-транка оператора фиксированной телефонной связи.
                        div(role="tabpanel" class="tab-pane fade func__descr" id="queue")
                            h3.func__descr-title    Организация очередей
                            p   Звонящий абонент может ожидать соединения в виртуальной очереди. Время ожидания и текстовые сообщения, звучащие во время ожидания, согласовываются заказчиком. Чаще всего эту функцию используют при работе Call-центров и компаний с большим ежедневным входящим траффиком звонков. Очередь звонков призвана удержать всех позвонивших в организацию клиентов, когда менеджеры заняты (ведут беседу с другим клиентом) или временно недоступны.
                        div(role="tabpanel" class="tab-pane fade func__descr" id="return")
                            h3.func__descr-title    Обратный звонок
                            p   Во время исходящего звонка вашему клиенту у него определяется номер мобильного телефона? Клиент может позвонить на него в любое время и попадет на Вашу АТС - именно к тому оператору, который последним звонил ему. Таким образом мы реализовали уникальную связку Клиент-Менеджер: по исследованиям маркетологов, связываясь с персональным менеджером напрямую, клиент чувствует себя более особенным.
                        div(role="tabpanel" class="tab-pane fade func__descr" id="fax")
                            h3.func__descr-title    Факс &#8594; E-mail
                            p   Вы сможете принимать адресованные в вашу компанию факсимильные сообщения прямо на e-mail уже в виде готового прикрепленного файла.
                        div(role="tabpanel" class="tab-pane fade func__descr" id="crm")
                            h3.func__descr-title    Интеграция с CRM
                            p   Интеграция CRM-систем и телефонии не только "модная" тенденция, но и реально эффективное решение. Автоматическое открытие карточки клиента при звонке с выводом информации о нем снижает время обработки запроса, звонки одним кликом в считанные секунды соединят с клиентом, статистика вызовов и  записи разговоров прямо из CRM отобразят всю картину руководтству.На сегодня реализована возможность интеграции виртуальной АТС с CRM-системами 1С-Битрикс, Битрикс 24, AMO-CRM.
            article(class='gsm' id='section4')
                h2.article__header GSM звонки
                .gsm__container
                    .gsm__intro
                        p   Для приёма многоканальных звонков с мобильных номеров и совершения звонков на мобильные номера Украины в наших АТС используются каналы IP-телефонии (один канал используется для одного разговора).
                    .gsm__universal
                        h3.gsm__title  Канал "Универсальный" (вх\исх)
                        .gsm__descr
                            p
                                strong Исходящие звонки.
                                span    В один канал ежемесячно включена 1 тыс. минут исходящих звонков на номера всех мобильных GSM-операторов Украины, по истечении лимита звонки тарифицируются по 30 коп\мин (с НДС). При исходящих звонках не используются фиксированные номера, и отображаемые номера на вызываемом телефоне будут разными. Для удобства реализован  "обратный перезвон", и обратный звонок на эти номера попадает прямо в канал, с которого изначально исходил звонок (неважно, через день или через год). Как показывает практика, этого вполне хватает для адекватной работы практически любой компании.
                            p
                                strong  Входящие звонки.
                                span    По заказу к каналу подключаются существующие или новые многоканальные номера мобильных операторов Украины. Все входящие звонки бесплатные.
                            p   Стоимость канала –
                                strong(class='superprice')    130 грн. в месяц**
                                span    (с НДС).
                            p   По умолчанию канал безномерной.
                            p
                                em  *За каждый обратный звонок на канал «Универсальный» с номеров оператора Lifecell согласно правил оператора за каждый факт звонка снимается плата 0,22 грн.
                            p
                                em  **Cтоимость действительна только при подключении через программный телефон Zoiper с предустановленными нами настройками. Для других подключений цена канала 260 грн. в мес. Подробнее о покупке каналов для собственных АТС и систем телефонии см.
                                    =' '
                                    a(href='http://sip-gsm.in.ua')  наш сайт.
                    .gsm__incoming
                        h3.gsm__title  Канал "Для входящих звонков"
                        .gsm__descr
                            p   К каналу подключаются любые мобильные номера Украины – как давно существующие, так и новые. Каждый мобильный номер можно сделать многоканальным, т.е. подключить его к нескольким таким каналам (до 64-х и выше).
                            p   Может быть подключён один запоминающийся входящий номер на всех операторов (который мы подбираем по заказу), например:
                            strong.gsm_3  (050)
                            br
                            strong.gsm_3  (067) 461-77-55
                            br
                            strong.gsm_3  (093)
                            br
                            p   Стоимость одного канала -
                                strong.superprice  80 грн. в мес.
                                span    (с НДС). Канал по умолчанию безномерной.
                    .gsm__numbers
                        h3.gsm__title   GSM номера
                        p   Если Вам нужен фиксированный мобильный номер для получения многоканальных входящих звонков на каналы IP-телефонии, Вы можете подключить к ним номера украинских операторов. Расценки на обслуживание номеров:
                        .numbers_container
                            p.descr__oper
                                img(class='logo_oper' src="img/kyivstar.png" alt="виртуальная атс евро-тел")
                                strong  Киевстар - 50 грн. в мес.
                            p.descr__oper
                                img(class='logo_oper' src="img/vodafone.png" alt="виртуальная атс евро-тел")
                                strong  Vodafone - 50 грн. в мес.
                            p.descr__oper
                                img(class='logo_oper' src="img/lifecell.png" alt="виртуальная атс евро-тел")
                                strong  Lifecell - 50 грн. в мес.*
                        p
                            em  * Особенность номеров Lifecell: по условиям оператора стоимость каждого факта входящего звонка в каналах IP-телефонии составляет 22 коп. Оплата за звонки текущего месяца учитывается в счёте следующего месяца.
            article(class='price' id='section5')
                h2.article__header Цены
                h3.price__descr Пакеты АТС
                div(class='table-responsive table__big')
                    table(class="table table__price")
                        thead
                            tr
                                th.first__col  Название пакета
                                th.second__col  Free
                                th.third__col  Начальная
                                th.fourth__col  Бизнес
                                th.fifth__col  Гранд
                        tbody
                            tr
                                th(scope='row') Внутренние номера
                                td  1
                                td  5
                                td  10
                                td  Не ограничено
                            tr
                                th(scope="row") Внешние номера
                                td  1
                                td  До 3-х
                                td  До 6-ти
                                td  Не ограничено
                            tr
                                th(scope="row") Входящие каналы
                                td  1
                                td  До 3-х
                                td  До 6-ти
                                td  Не ограничено
                            tr
                                th(scope="row") Исходящие каналы
                                td
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                td  До 3-х
                                td  До 6-ти
                                td  Не ограничено
                            tr
                                th(scope="row") Бесплатные звонки на 044
                                td
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                td
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                td
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                td
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            tr
                                th(scope="row") Статистика звонков
                                td
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                td
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                td
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                td
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            tr
                                th(scope="row") Аудиозапись всех разговоров
                                td
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                td
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                td
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                td
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            tr
                                th(scope="row") Переадресация звонков
                                td
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                td
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                td
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                td
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            tr
                                th(scope="row") Интерактивное голосовое меню (IVR)
                                td
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                td
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                td
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                td
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            tr
                                th(scope="row") Интеграция с Битрикс24
                                td
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                td
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                td
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                td
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            tr
                                th(scope="row") Привязка "Клиент-Сотрудник"
                                td
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                td
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                td
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                td
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            tr
                                th(scope="row") Call Me - виджет звонка c сайта
                                td
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                td
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                td
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                td
                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            tr(class='tr__price')
                                th(scope="row") Ежемесячно
                                td  0 грн.
                                td  99 грн.
                                td  150 грн.
                                td  199 грн.
                div(class='price__mob table__small')

                    ul(class="nav nav-tabs table_tabs-mob" )
                        li(role="presentation" class="active")
                            a(href="#free" aria-controls="free" role="tab" data-toggle="tab")   Free
                        li(role="presentation")
                            a(href="#neofit" aria-controls="neofit" role="tab" data-toggle="tab")   Начальная
                        li(role="presentation")
                            a(href="#business" aria-controls="business" role="tab" data-toggle="tab")   Бизнес
                        li(role="presentation")
                            a(href="#grand" aria-controls="grand" role="tab" data-toggle="tab")   Гранд
                    div(class="tab-content")
                        div(role="tabpanel" class="tab-pane fade in active" id="free")
                            .table-responsive
                                table(class="table table__price table_price-mob")
                                    thead
                                        tr
                                            th.first__col-mob  Внутренние номера
                                            th.second__col-mob  1
                                    tbody
                                        tr
                                            th(scope="row") Внешние номера
                                            td  1
                                        tr
                                            th(scope="row") Входящие каналы
                                            td  1
                                        tr
                                            th(scope="row") Исходящие каналы
                                            td
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                        tr
                                            th(scope="row") Бесплатные звонки на 044
                                            td
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                        tr
                                            th(scope="row") Статистика звонков
                                            td
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                        tr
                                            th(scope="row") Аудиозапись всех разговоров
                                            td
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                        tr
                                            th(scope="row") Переадресация звонков
                                            td
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                        tr
                                            th(scope="row") Интерактивное голосовое меню (IVR)
                                            td
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                        tr
                                            th(scope="row") Интеграция с Битрикс24
                                            td
                                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                        tr
                                            th(scope="row") Привязка "Клиент-Сотрудник"
                                            td
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                        tr
                                            th(scope="row") Call Me - виджет звонка c сайта
                                            td
                                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                        tr(class='tr__price')
                                            th(scope="row") Ежемесячно
                                            td  0 грн.

                        div(role="tabpanel" class="tab-pane fade" id="neofit")
                            .table-responsive
                                table(class="table table__price table_price-mob")
                                    thead
                                        tr
                                            th.first__col-mob  Внутренние номера
                                            th.second__col-mob  5
                                    tbody
                                        tr
                                            th(scope="row") Внешние номера
                                            td  До 3-х
                                        tr
                                            th(scope="row") Входящие каналы
                                            td  До 3-х
                                        tr
                                            th(scope="row") Исходящие каналы
                                            td  До 3-х
                                        tr
                                            th(scope="row") Бесплатные звонки на 044
                                            td
                                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                        tr
                                            th(scope="row") Статистика звонков
                                            td
                                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                        tr
                                            th(scope="row") Аудиозапись всех разговоров
                                            td
                                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                        tr
                                            th(scope="row") Переадресация звонков
                                            td
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                        tr
                                            th(scope="row") Интерактивное голосовое меню (IVR)
                                            td
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                        tr
                                            th(scope="row") Интеграция с Битрикс24
                                            td
                                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                        tr
                                            th(scope="row") Привязка "Клиент-Сотрудник"
                                            td
                                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                        tr
                                            th(scope="row") Call Me - виджет звонка c сайта
                                            td
                                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                        tr(class='tr__price')
                                            th(scope="row") Ежемесячно
                                            td  99 грн.
                        div(role="tabpanel" class="tab-pane fade" id="business")
                            .table-responsive
                                table(class="table table__price table_price-mob")
                                    thead
                                        tr
                                            th.first__col-mob  Внутренние номера
                                            th.second__col-mob  10
                                    tbody
                                        tr
                                            th(scope="row") Внешние номера
                                            td  До 6-ти
                                        tr
                                            th(scope="row") Входящие каналы
                                            td  До 6-ти
                                        tr
                                            th(scope="row") Исходящие каналы
                                            td  До 6-ти
                                        tr
                                            th(scope="row") Бесплатные звонки на 044
                                            td
                                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                        tr
                                            th(scope="row") Статистика звонков
                                            td
                                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                        tr
                                            th(scope="row") Аудиозапись всех разговоров
                                            td
                                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                        tr
                                            th(scope="row") Переадресация звонков
                                            td
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                        tr
                                            th(scope="row") Интерактивное голосовое меню (IVR)
                                            td
                                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                        tr
                                            th(scope="row") Интеграция с Битрикс24
                                            td
                                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                        tr
                                            th(scope="row") Привязка "Клиент-Сотрудник"
                                            td
                                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                        tr
                                            th(scope="row") Call Me - виджет звонка c сайта
                                            td
                                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                        tr(class='tr__price')
                                            th(scope="row") Ежемесячно
                                            td  199 грн.
                        div(role="tabpanel" class="tab-pane fade" id="grand")
                            .table-responsive
                                table(class="table table__price table_price-mob")
                                    thead
                                        tr
                                            th.first__col-mob  Внутренние номера
                                            th.second__col-mob  Не ограничено
                                    tbody
                                        tr
                                            th(scope="row") Внешние номера
                                            td  Не ограничено
                                        tr
                                            th(scope="row") Входящие каналы
                                            td  Не ограничено
                                        tr
                                            th(scope="row") Исходящие каналы
                                            td  Не ограничено
                                        tr
                                            th(scope="row") Бесплатные звонки на 044
                                            td
                                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                        tr
                                            th(scope="row") Статистика звонков
                                            td
                                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                        tr
                                            th(scope="row") Аудиозапись всех разговоров
                                            td
                                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                        tr
                                            th(scope="row") Переадресация звонков
                                            td
                                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                        tr
                                            th(scope="row") Интерактивное голосовое меню (IVR)
                                            td
                                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                        tr
                                            th(scope="row") Интеграция с Битрикс24
                                            td
                                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                        tr
                                            th(scope="row") Привязка "Клиент-Сотрудник"
                                            td
                                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                        tr
                                            th(scope="row") Call Me - виджет звонка c сайта
                                            td
                                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                        tr(class='tr__price')
                                            th(scope="row") Ежемесячно
                                            td  199 грн.
                h3.price__descr    Дополнительные услуги
                table(class="table additional_serv-table")
                    thead
                        tr
                            th.serv__col  Название услуги
                            th.price__col  Цена
                    tbody
                        tr
                            th(scope='row') Подключение к АТС SIP-транка с фиксированной телефонной связью
                            td  130 грн.
                        tr
                            th(scope='row') Использование SIP-транка с фиксированной телефонной связью для приёма входящих звонков
                            td  Бесплатно
                        tr
                            th(scope='row') Использование SIP-транка с фиксированной телефонной связью для входящих-исходящих звонков
                            td  50 грн. в мес.


            article(class='contacts' id='section6')
                h2.article__header  Контакты
                .contacts__container
                    .contacts__content
                        address
                            p.fin   Подключение, финансовые вопросы:
                            a(href="tel:+380443211022") +38 (044) 32-11-022
                            br
                            a(href="tel:+380504544043")  +38 (050) 454-40-43
                            br
                            a(href="mailto:evrotel.ipats@gmail.com")    evrotel.ipats@gmail.com
                            p.support   Техподдержка:
                                br
                                a(href="mailto:support@evro-tel.com.ua")    support@evro-tel.com.ua
                            p.post   Почтовый адрес:
                                br
                                span    01015, г.Киев, ул. Старонаводницкая, 6/6

                    .contacts__form
                        h3  Оставьте Ваше сообщение:
                        form(action="http://formspree.io/evrotel.ipats@gmail.com" class="main_form" novalidate target="_blank" method="post")
                            label.form-group
                                span.color_element  * Ваше имя:
                                input(type="text" name="name" placeholder="Имя" data-validation-required-message="Вы не ввели имя" required)
                                span(class="help-block text-danger")
                            label.form-group
                                span.color_element * Ваш E-mail:
                                input(type="email" name="email" placeholder="E-mail" data-validation-required-message="Не корректно введен E-mail" required)
                                span(class="help-block text-danger")
                            label.form-group
                                span.color_element * Ваше сообщение:
                                textarea(name="message" placeholder="Сообщение" data-validation-required-message="Вы не ввели сообщение" required)
                                span(class="help-block text-danger")
                            button  Отправить


        footer.footer
            .copyright  &copy;  "Евро-тел" 2016


        <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q || []).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');        ga('create', 'UA-42666121-4', 'auto');ga('send', 'pageview');

        </script>

        script(type="text/javascript" src="js/jquery-2.1.3.min.js")
        script(defer type="text/javascript" src="js/jquery.bxslider.min.js")
        script(defer type="text/javascript" src="js/parallax.min.js")
        script(defer type="text/javascript" src="js/jqBootstrapValidation.js")
        script(defer type="text/javascript" src="js/waypoints.min.js")
        script(type="text/javascript" src="js/jquery.singlePageNav.min.js")
        script(defer type="text/javascript" src="js/bootstrap.min.js")
        script(type="text/javascript" src="js/main.js")