doctype
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title   Виртуальная АТС Евро-тел | Облачная АТС Евро-тел
        link(rel="stylesheet" href="css/jquery.bxslider.min.css")
        link(rel="stylesheet" href="css/animate.css")
        link(rel="stylesheet" href="css/bootstrap.css")
        link(rel="stylesheet" href="css/main.css")
        link(rel="icon" href="img/favicon.ico" type="image/x-icon")
    body
        .wrapper
            .header
                .header__container
                    .header__logo
                        h1  ЕВРО-ТЕЛ
                    div(class='header_descr')
                        h2(class='animated rollIn') Виртуальные АТС
                    nav.main__menu
                        ul
                            li
                                a.nav__link Виртуальная АТС
                            li
                                a.nav__link Как это работает
                            li
                                a.nav__link Функции
                            li
                                a.nav__link GSM
                            li
                                a.nav__link Цены
                            li
                                a.nav__link Контакты

                    div(class='header__contacts animated bounceInLeft')
                        address
                            a(href="tel:+380443211022") +38 (044) 32-11-022
                            a(href="tel:+380504544043")  +38 (050) 454-40-43
                            a(href="mailto:evrotel.ipats@gmail.com")    evrotel.ipats@gmail.com
                    .header__slider
                        ul.bxslider
                            li
                                div(class="slide slide__gsm")   Дорого покупать GSM-шлюз?
                            li
                                div(class='slide slide__card')    Надоело возиться с  карточками?
                            li
                                div(class='slide slide__desicions') Наши решения проще и дешевле!
                            li
                                div(class='slide slide__softphone') Установка программного телефона на смартфон - за несколько нажатий!
                            li
                                div(class='slide slide__softphone') Звонки на мобильные по
                                    strong  16 коп\мин
                            li
                                div(class='slide slide__multinumbers') Многоканальные мобильные номера
            article(class="parallax-window" data-parallax="scroll" data-image-src="img/how_bg.jpg")
                .how__container
                    h2.article__header  Как это работает
                    .how__descr
                        p.main__content Виртуальная АТС работает так же, как и офисная, но не привязана к месту расположения или оборудованию. Пользователю  АТС
                            strong  необходим только смартфон (или компьютер) + Интернет
                            span    , при этом все пользователи могут находиться территориально в одном в офисе или разбросаны по разным городам. Связь осуществляется при помощи программы на смартфоне или компьютере (поставляется с уже предустановленными настройками, ничего настраивать не придётся!)
                        p.main__content Сама АТС находится удалённо на нашем сервере и функционально настраивается под Ваши потребности.
                        p.main__content Для связи между сотрудниками АТС используются внутренние номера (111, 112, 113...)
                        p.main__content Для входящих\исходящих звонков на номера мобильных GSM операторов Украины по Вашей заявке к АТС подключаются наши каналы с номерами.
                        p.main__content Для входящих\исходящих звонков на номера фиксированной связи Украины по Вашему заказу подключаются SIP-каналы украинских операторов фиксированной связи (Интертелеком, Датагрупп, Вегателеком) – мы настроим подключение этих линий к Вашей виртуальной АТС.
            article.functions
                h2.article__header  Функции АТС
                .func__background
                .func__container
                    ul.func__list
                        li(class='func__item func__item-active')
                            a.func__linc(href='#') Голосовое меню
                        li.func__item
                            a.func__linc(href='#')    Статистика и запись
                        li.func__item
                            a.func__linc(href='#')    Сall-back
                        li.func__item
                            a.func__linc(href='#')    Переадресация входящих
                        li.func__item
                            a.func__linc(href='#')    Организация очередей
                        li.func__item
                            a.func__linc(href='#')    Обратный звонок
                        li.func__item
                            a.func__linc(href='#')    Факс / E-mail
                        li.func__item
                            a.func__linc(href='#')    Интеграция с CRM
                    ul.func__content
                        li(class='func__descr func__descr-active')
                            h3.func__descr-title    Голосовое меню
                            p   При звонке в колл-центр Ваш клиент будет перенаправлен на голосовое меню, в котором он услышит дополнительную информацию или ему будет предложено сделать выбор.
                        li.func__descr
                            h3.func__descr-title    Статистика и запись
                            p   Статистика всех входящих и исходящих звонков (журнал звонков) с возможностью прослушать запись разговоров или увидеть не принятые звонки.
                        li.func__descr
                            h3.func__descr-title    Сall-back
                            p   В случае невозможности ответить на входящий звонок, звонящему будет предложено нажать цифру 1 и положить трубку. После этого к вам на электронную почту прийдет письмо с номером звонившего абонента.
                        li.func__descr
                            h3.func__descr-title    Переадресация входящих
                            p   Если внутренний номер на который пришел звонок занят, не отвечает или отключен, то вызов можно переадресовать на другой стационарный или моб. телефон. Часто используется как резервный канал при отсутствии в офисе связи.
                        li.func__descr
                            h3.func__descr-title    Организация очередей
                            p   Звонящий абонент может ожидать соединения в виртуальной очереди. Время ожидания и текстовые сообщения, звучащие во время ожидания, согласовываются заказчиком.
                        li.func__descr
                            h3.func__descr-title    Обратный звонок
                            p   Во время исходящего звонка вашему клиенту у него высвечивается некий номер мобильного телефона….? Связка клиент-менеджер Клиент может позвонить на него в любое время и попадет к вам в колцентр именно к оператору, который последним звонил ему.
                        li.func__descr
                            h3.func__descr-title    Факс / E-mail
                            p   Вы сможете принимать адресованные в вашу компанию факсимильные сообщения прямо на e-mail уже в виде готового прикрепленного файла
                        li.func__descr
                            h3.func__descr-title    Интеграция с CRM
                            p   На сегодня реализована возможность интеграции виртуальной АТС с CRM-системами 1С-Битрикс, Битрикс 24, AMO-CRM.
            article.gsm
                h2.article__header GSM звонки
                .gsm__container
                    .gsm__intro
                        p   Для приёма звонков с мобильных номеров и совершения звонков на мобильные номера Украины в наших АТС используются каналы IP-телефонии. Один канал используется для приёма и отправки только одного звонка.
                    .gsm__universal
                        h3.gsm__title  Канал "Универсальный" (вх\исх)
                        .gsm__descr
                            p
                                strong Исходящие звонки.
                                span    В один канал каждый месяц включена 1 тыс. минут исходящих звонков на всех мобильных GSM-операторов Украины, по истечении этого лимита исходящие звонки тарифицируются по 30 коп\мин (с НДС). За каналом не закреплены фиксированные номера операторов, при звонках на мобильные телефоны отображаемые номера на вызываемом телефоне будут разными. Для удобства реализован механизм, в результате которого при обратном перезвоне на этот номер звонящий попадает непосредственно на канал, с которого исходил звонок – вне зависимости от того, через какое время происходит перезвон (через день или через год). Как показывает практика, этого вполне хватает для нормальной работы практически любой компании.
                            p
                                strong  Входящие звонки.
                                span    К каналу может быть подключён и сделан многоканальным любой номер мобильных операторов Украины. Все входящие звонки бесплатные.
                            p   Стоимость канала –
                                strong.superprice    130 грн. в месяц**
                                span    (с НДС).
                            p   По умолчанию канал безномерной.
                            p
                                em  *За каждый обратный звонок на канал «Универсальный» с номера Lifecell согласно правил оператора за каждый факт звонка снимается плата за переадресацию в размере 0,22 грн.
                            p
                                em  **Cтоимость действительна только при подключении через программный телефон Zoiper с предустановленными нами настройками. Для других подключений цена канала 260 грн. в мес. Подробнее о покупке каналов для собственных АТС и систем телефонии см.
                                    =' '
                                    a(href='http://sip-gsm.in.ua')  наш сайт.
                    .gsm__incoming
                        h3.gsm__title  Канал "Для входящих звонков"
                        .gsm__descr
                            p   К каналу подключаются любые мобильные номера Украины – как давно существующие, так и новые. Каждый мобильный номер можно сделать многоканальным, т.е. подключить его к нескольким таким каналам (до 64-х и выше).
                            p   Может быть подключён один запоминающийся входящий номер на всех операторов (который мы подбираем по заказу), например:
                            strong.gsm_3  (050)
                            br
                            strong.gsm_3  (067) 461-77-55
                            br
                            strong.gsm_3  (093)
                            br
                            p   Стоимость одного канала -
                                strong.superprice  80 грн. в мес.
                                span    (с НДС). Канал по умолчанию безномерной.
                    .gsm__numbers
                        h3.gsm__title   Номера
                        p   Если Вам нужен фиксированный мобильный номер для получения многоканальных входящих звонков на каналы IP-телефонии, Вы можете подключить к ним номера украинских операторов.
                        .numbers_container
                            p.descr__oper
                                img(class='logo_oper' src="img/kyivstar.png" alt="виртуальная атс евро-тел")
                                strong  Киевстар - 50 грн. в мес.
                            p.descr__oper
                                img(class='logo_oper' src="img/vodafone.png" alt="виртуальная атс евро-тел")
                                strong  Vodafone - 50 грн. в мес.
                            p.descr__oper
                                img(class='logo_oper' src="img/lifecell.png" alt="виртуальная атс евро-тел")
                                strong  Lifecell - 80 грн. в мес.*
                        p
                            em  * Особенность номеров Lifecell: по условиям оператора стоимость каждого факта входящего звонка в каналах IP-телефонии составляет 22 коп. Оплата за звонки текущего месяца учитывается в счёте следующего месяца.
            article.price
                h2.article__header Цены
                table(class="table table__price")
                    thead
                        tr
                            th.first__col  Название пакета
                            th.second__col  Free
                            th.third__col  Начальная
                            th.fourth__col  Бизнес
                            th.fifth__col  Гранд
                    tbody
                        tr
                            th(scope='row') Внутренние номера
                            td  1
                            td  5
                            td  10
                            td  Не ограничено
                        tr
                            th(scope="row") Внешние номера
                            td  1
                            td  До 3-х
                            td  До 6-ти
                            td  Не ограничено
                        tr
                            th(scope="row") Входящие каналы
                            td  1
                            td  До 3-х
                            td  До 6-ти
                            td  Не ограничено
                        tr
                            th(scope="row") Исходящие каналы
                            td
                                <i class="fa fa-times" aria-hidden="true"></i>
                            td  До 3-х
                            td  До 6-ти
                            td  Не ограничено
                        tr
                            th(scope="row") Бесплатные звонки на 044
                            td
                                <i class="fa fa-times" aria-hidden="true"></i>
                            td
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            td
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            td
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        tr
                            th(scope="row") Статистика звонков
                            td
                                <i class="fa fa-times" aria-hidden="true"></i>
                            td
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            td
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            td
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        tr
                            th(scope="row") Аудиозапись всех разговоров
                            td
                                <i class="fa fa-times" aria-hidden="true"></i>
                            td
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            td
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            td
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        tr
                            th(scope="row") Переадресация звонков
                            td
                                <i class="fa fa-times" aria-hidden="true"></i>
                            td
                                <i class="fa fa-times" aria-hidden="true"></i>
                            td
                                <i class="fa fa-times" aria-hidden="true"></i>
                            td
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        tr
                            th(scope="row") Интерактивное голосовое меню (IVR)
                            td
                                <i class="fa fa-times" aria-hidden="true"></i>
                            td
                                <i class="fa fa-times" aria-hidden="true"></i>
                            td
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            td
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        tr
                            th(scope="row") Интеграция с Битрикс24
                            td
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            td
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            td
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            td
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        tr
                            th(scope="row") Привязка "Клиент-Сотрудник"
                            td
                                <i class="fa fa-times" aria-hidden="true"></i>
                            td
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            td
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            td
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        tr
                            th(scope="row") Call Me - виджет звонка c сайта
                            td
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            td
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            td
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                            td
                                <i class="fa fa-check-square-o" aria-hidden="true"></i>
                        tr(class='tr__price')
                            th(scope="row") Ежемесячно
                            td  Бесплатно
                            td  99 грн.
                            td  150 грн.
                            td  199 грн.
            article.contacts
                h2.article__header  Контакты
                .contacts__container
                    .contacts__content
                        address
                            a(href="tel:+380443211022") +38 (044) 32-11-022
                            br
                            a(href="tel:+380504544043")  +38 (050) 454-40-43
                            br
                            a(href="mailto:evrotel.ipats@gmail.com")    evrotel.ipats@gmail.com
                            p.support   Техподдержка:
                                br
                                a(href="mailto:support@evro-tel.com.ua")    support@evro-tel.com.ua
                            p.post   Почтовый адрес: 01015, г.Киев, ул. Старонаводницкая, 6/6

                    .contacts__form
                        h3  Оставьте Ваше сообщение:
                        form(action="http://formspree.io/evrotel.ipats@gmail.com" class="main_form" novalidate target="_blank" method="post")
                            label.form-group
                                span.color_element  * Ваше имя:
                                input(type="text" name="name" placeholder="Имя" data-validation-required-message="Вы не ввели имя" required)
                                span(class="help-block text-danger")
                            label.form-group
                                span.color_element * Ваш E-mail:
                                input(type="email" name="email" placeholder="E-mail" data-validation-required-message="Не корректно введен E-mail" required)
                                span(class="help-block text-danger")
                            label.form-group
                                span.color_element * Ваше сообщение:
                                textarea(name="message" placeholder="Сообщение" data-validation-required-message="Вы не ввели сообщение" required)
                                span(class="help-block text-danger")
                            button  Отправить


    script(type="text/javascript" src="js/jquery.min.js")
    script(type="text/javascript" src="js/jquery.bxslider.min.js")
    script(type="text/javascript" src="js/parallax.min.js")
    script(type="text/javascript" src="jqBootstrapValidation.js")
    script(type="text/javascript" src="js/waypoints.min.js")
    script(type="text/javascript" src="js/animate-css.js")
    script(type="text/javascript" src="js/main.js")